* {
  margin: 0;
}
.project1 {
  flex-direction: column;
}
/* yronhii */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.white {
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
/* section 1 */

.section1 {
  height: 100%;
  background-image: url("./HeroImage.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navigation {
  height: 40px;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.home-contact {
  gap: 50px;
}
.En {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.tombichig {
  height: 773px;
}
.magic {
  font-size: 80px;
  color: rgba(232, 237, 242, 0.72);
  line-height: 100%;
}
.awaits {
  font-size: 250px;
  line-height: 100%;
}
.on {
  font-size: 50px;
  color: rgba(232, 237, 242, 0.72);
  line-height: 100%;
}
/* section 2 */
.section2 {
  height: 513px;
  background-image: url("/section2.png");
}
.zuragnuud {
  width: 1202px;
  height: 370px;
  display: flex;
  justify-content: space-between;
}
.zurag {
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  box-shadow: -8px -8px 0 0 rgba(31, 114, 170, 0.46),
    8px 8px 0 0 rgba(41, 114, 139, 0.25);
  font-size: 37px;
  line-height: 100%;
}
.zurag1 {
  background-image: url(/tsagaanlake.png);
}
.container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.4);
  height: 100%;
  width: 100%;
  border-radius: 40px;
  display: none;
}
.container:hover > .overlay {
  display: block;
}
.zurag2 {
  background-image: url(/sum.png);
}
.zurag3 {
  background-image: url(/hovsgol.png);
}
.zurag4 {
  background-image: url(/togoo.png);
}
/* section 3  */

.section3 {
  height: 1022px;
  background-image: url("/Roadmap.png");
  align-items: center;
}
.destination {
  height: 204px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}
.destibichig {
  font-size: 42px;
  line-height: 100%;
  margin: 0;
}
.pack {
  font-size: 20px;
  color: rgba(24, 24, 27, 0.7);
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.dayshusnegt {
  width: 1200px;
  height: 640px;
  gap: 20px;
  position: relative;
}

.day {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  align-items: center;
}
.day1 {
  background-color: rgba(238, 233, 217, 1);
}
.day2 {
  background-color: rgba(139, 184, 193, 0.8);
}
.day3 {
  background-color: rgba(170, 216, 215, 0.8);
}
.day4 {
  background-color: rgba(139, 192, 189, 0.8);
}
.day5 {
  background-color: rgba(151, 204, 224, 0.8);
}
.daydotor {
  display: flex;
  justify-content: space-between;
  width: 483px;
  height: 48px;
}
.daybicig {
  height: 38px;
  padding-left: 30px;
}
.gazruud {
  font-size: 24px;
}
.daylogo {
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 50%;
}
.huree:hover {
  border: 4px solid white;
}
.loc {
  display: none;
  width: 245px;
  height: 245px;
  position: absolute;
}
.loc-suhbaatar {
  top: 65px;
  right: 22px;
}
.suhbaatar:hover ~ .loc-suhbaatar {
  display: block;
}
.loc-sum {
  right: 218px;
  top: -46px;
}
.sum:hover ~ .loc-sum {
  display: block;
}
.loc-togoo {
  right: 351px;
  top: 82px;
}
.togoo:hover ~ .loc-togoo {
  display: block;
}
.loc-tsagaanlake {
  right: 402px;
  top: -84px;
}
.tsgnlake:hover ~ .loc-tsagaanlake {
  display: block;
}
.loc-hovsgol {
  right: 235px;
  top: -80px;
}
.hovsgol:hover ~ .loc-hovsgol {
  display: block;
}
/* section 4 */
.section4 {
  height: 1120px;
  background-image: url(/section4.png);
  align-items: center;
}
.price {
  width: 100vw;
  height: 85px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 79px;
}
.pricing {
  font-size: 42px;
}
.cardcon {
  width: 1200px;
  height: 527px;
  gap: 16px;
}
.choose {
  font-size: 20px;
  color: rgba(24, 24, 27, 0.7);
}
.card {
  width: 384px;
  height: 527px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.frame:hover {
  border-radius: 40px;
  box-shadow: -8px -8px 0 0 rgba(46, 65, 71, 0.4),
    8px 8px 0 0 rgba(41, 114, 139, 0.25);
}
.frame:hover > .package {
  background-color: rgba(24, 24, 27, 0.9);
  color: rgba(250, 250, 250, 1);
}
.deedtal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 384px;
  height: 92px;
  padding-bottom: 12px;
  font-size: 18px;
}
.mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.une {
  padding-left: 24px;
  margin: 0;
  gap: 10px;
  padding-bottom: 32px;
}
.too {
  width: 336px;
  height: 49px;
  font-size: 40px;
}
.toodoodtal {
  font-size: 16px;
  color: rgba(145, 145, 145, 1);
  width: 336px;
  height: 27px;
}
.popular {
  width: 91px;
  height: 27px;
  background-color: rgba(105, 114, 181, 1);
  border-radius: 50px;
}
.populargadaa {
  width: 336px;
  height: 27px;
  align-items: center;
  justify-content: space-between;
}
.includes {
  gap: 16px;
  padding-left: 24px;
  width: 336px;
  height: 180px;
}
.includesbicig {
  font-size: 18px;
  padding-left: 40px;
}
.checkbicig {
  gap: 20px;
}
.checkbicguud {
  font-size: 14px;
  color: rgba(63, 65, 69, 1);
}
.selectpack {
  font-size: 16px;
}
.package {
  width: 336px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(164, 209, 226, 1);
  border-radius: 50px;
  margin-top: 38.5px;
}
.doodbicig {
  width: 1200px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding-top: 265px;
}
.Ig-fb-space {
  width: 358px;
  height: 44px;
  gap: 16px;
}
.ig-fb {
  width: 171px;
  height: 44px;
  background-color: white;
  border-radius: 50px;
  font-size: 18px;
  color: rgba(105, 114, 181, 1);
}
